/* Container principal da página */
.pageContainer {
  background-color: #fbf8f4;
  color: #4b626c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif, Arial;
}

/* Conteúdo Principal */
.mainContent {
  display: flex;
  flex: 2;
}

/* Coluna da Esquerda: Informações do Usuário */
.userInfo {
  flex: 1.4;
  padding: 3rem 4rem;
  background-color: #fbf8f4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.userInfo h2 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  padding-left: 10rem;
  padding-top: 7.5rem;
}

.userInfo p {
  font-weight: 400;
  font-size: 2rem;
  color: #4b626c;
  margin: 0.25rem 0;
  padding-left: 10rem;
}

.actionButtons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 10rem;
}

.actionButton {
  border-radius: 8px;
  border: 1px solid #4b626c;
  background-color: #4b626c;
  color: #fbf6f0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.875rem;
  font-weight: 400;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  width: 270px;
  height: 45px;
}

.actionButton img {
  width: 16px;
  height: 16px;
  /* O ícone SVG precisa ter a cor #FBF6F0 para combinar */
}

.actionButton:hover {
  opacity: 0.9;
}

.destructiveButton {
  border-color: #4b626c;
  background-color: #4b626c; /* Fundo vermelho */
  color: #fbf6f0; /* Texto claro */
}

.destructiveButton:hover {
  background-color: #c94d4d;
  opacity: 0.9;
}

.disabledButton {
  background-color: #97a4a273; /* Cor de fundo alterada */
  color: #fbf6f0; /* Cor do texto alterada */
  border-color: #97a4a273; /* Cor da borda alterada */
  cursor: not-allowed;
  justify-content: center; /* Centraliza o texto quando não há ícone */
}

.disabledButton:hover {
  opacity: 1;
  background-color: #97a4a273;
}

/* Coluna da Direita: Jogos */
.gamesInfo {
  flex: 1;
  background-color: #4b626c;
  padding: 3rem;
  color: #fbf8f4;
  position: relative;
}

.gamesInfo h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.gameCard {
  background: transparent;
  color: #fbf8f4;
  justify-content: center;
  text-align: center;
}

.gameCard img {
  width: 190px;
  height: 250px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.gameCard p,
.gameCard a {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  min-height: 2rem; /* Garante a mesma altura mínima */
  display: flex; /* Permite o alinhamento vertical */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.gameCard a {
  color: #fbf8f4;
  text-decoration: underline;
  cursor: pointer;
}

.gameCard a:hover {
  color: #dcd3c9;
}

/* Link do carrinho sem fundo */
.cartLink {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
}

.cartLink:hover {
  transform: scale(1.1);
}

.cartLink img {
  width: 60px;
  height: 60px;
}
